<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" *ngIf="animal">
      <div class="row">
        <div class="col-md-7">
          <h2>{{animal.name ? animal.name : animal.$key}}</h2>
          <p>
            DOB: {{animal.dob | amDateFormat: 'M-D-YYYY'}}
          </p>
          <p [innerHTML]="animal.description"></p>
          <p>
            <button class="btn btn-default" (click)="onBack()">
              <i class="fa fa-chevron-left"></i>
              Back
            </button>
            <button class="btn btn-primary" *ngIf="auth | async" (click)="openUpdateAnimal()">
              <i class="fa fa-pencil"></i>
              Edit/Update
            </button>
          </p>
        </div>
        <div class="col-md-5">
          <figure class="figure">
              <img src="/assets/images/{{animal.dob | amDateFormat: 'YY'}}/{{animal.$key.substr(-2)}}/001.jpg" alt="{{animal.name ? animal.name : animal.$key}}" *ngIf="animal.productOfProject" class="img-fluid rounded" />
              <img src="/assets/images/{{animal.dob | amDateFormat: 'YY'}}/{{animal.$key}}/001.jpg" alt="{{animal.name ? animal.name : animal.$key}}" *ngIf="!animal.productOfProject" class="img-fluid rounded" />
            <figcaption class="figure-caption">{{animal.name ? animal.name : animal.$key}}</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

{{ animal | json }}
