<div class="container-fluid" *ngIf="project">
  <div class="row">
    <div class="col-md-12">
      <h2>{{ project.$key }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div [innerHtml]="sanitizer.bypassSecurityTrustHtml(project.description)"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <masonry #myMasonry [options]="masonryOptions" [useImagesLoaded]="true">
        <masonry-brick *ngFor="let animal of offspring | async; let i = index" [hidden]="filterOffspring(animal, project.$key)" class="brick card card-inverse">
          <img src="http://beta.grreptile.com/assets/images/{{animal.dob | date: 'yy'}}/{{animal.$key.substr(-2)}}/001.jpg" alt="{{animal.$key}}"
              *ngIf="animal.productOfProject" class="card-img-top img-fluid" />
          <img src="http://beta.grreptile.com/assets/images/{{animal.dob | date: 'yy'}}/{{animal.$key}}/001.jpg" alt="{{animal.$key}}"
              *ngIf="!animal.productOfProject" class="card-img-top img-fluid" />
          <div class="card-block">
            <h5 class="card-title">
              {{ animal.$key }}
            </h5>
            <p class="card-text" [innerHTML]="animal.description | truncate : [100]"></p>
            <a [routerLink]="['/animal', animal.$key]" class="btn btn-primary" *ngIf="animal.$key">{{ animal.$key }}</a>
          </div>
        </masonry-brick>
      </masonry>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="!project">
  <div class="row">
    <div class="col-md-12">
      Loading...
    </div>
  </div>
</div>
